@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #fffcf7;



}


/* #preloader {
    background: white url('./images/loader2.gif') no-repeat center center;
    background-size: 20rem;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100000;
} */

.nav {
    background-color: #ffffff77;
    padding: 3px 14px;
    z-index: 1000;
    border-radius: 18px;
    /* backdrop-filter: blur(5px); */
    /* box-shadow: 3px 4px 3px 0px #0000001a; */
    backdrop-filter: blur(10px);
}

@media screen and (max-width:1024px) {
    .nav {
        backdrop-filter: none;
    }
}

.navbar-toggler,
.navbar-toggler:focus {
    box-shadow: none;
    border: none;
    outline: none;
}


.nav-link {
    margin: 0px 5px 0px 0px;
    /* font-size: large; */
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: dashed red;

}

.st-font {
    font-family: 'Style Script';
    font-size: 5rem;
    color: #CE1212;
}

.my-font {
    font-family: 'Style Script';
}

.sm-font {
    font-size: 3.5rem;
    color: #603813;
}

.btn-warning {
    background-color: #EBA002;
    color: white;
}

.btn-warning:hover {
    background-color: #da9500;
    color: white;
}

.di-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-bg {
    background-image: url('./images/hero\ bg.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    /* 
        background-image: linear-gradient(
            50deg,
            rgb(168, 0, 190),
            rgb(255, 181, 43),
            rgb(255, 218, 52),
            rgb(255, 205, 67),
            rgb(168, 0, 190)
        ); */


}


.under-hover {
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}

.under-hover:hover {
    border-bottom: 2px solid rgb(177, 130, 0);
}


.feat-box {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.d-css {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 3px 30px 3px;
    border-radius: 10px;
    transition: 0.3s;
    /* background-color: rgb(255, 239, 239); */
    background-color: rgba(255, 231, 222, 0.13);
    backdrop-filter: blur(10px);
}

.d-css:hover {
    background-color: rgba(255, 231, 222, 0.13);
    backdrop-filter: blur(112px);
    transform: translateY(-10px);


}



.card {
    outline: none;
    /* border: none; */
    padding: 10px 40px 10px 40px;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.card-title {
    color: #C1272D;
}

.price {
    color: #EBA002;
    margin-top: 10px;
}

.heading {
    font-size: 4rem;

}



.back {
    background-image: url(https://images.pexels.com/photos/4669238/pexels-photo-4669238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    /* background-image: linear-gradient(
        rgb(82, 0, 0),
        rgb(255, 70, 70),
        rgb(82, 0, 0)
    ); */
}


.card-h {
    transition: 0.3s;
    border-radius: 20px;
    background: url('./images/card-pattern.jpg') no-repeat;
    background-size: cover;
    background-position: center top bottom;
    /* background-color: #f3f3f3; */
}

.card-h:hover {
    /* background: url('./images/card-pattern.jpg') no-repeat; */
    /* background: #8b008b; */
    background-image: linear-gradient(
        #8b008b,
        #500050
    );
    color: rgb(255, 255, 255);
    transform: scale(1.009);
}


.card-h:hover .card-title {
    color: wheat;
}

img {
    transition: 0.3s;
    z-index: 100;
}

.card-h:hover img {
    /* transform: scale(1.1); */
}


.un {
    text-decoration: underline red;
}





.shad {
    color: white;
    text-shadow: 1px 1px 7px #464646b0;
    background-color: #00000033;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 7px #333333b0;
    border: 2px solid rgba(255, 217, 217, 0.247);
}




.line {
    background-color: #603813;
    height: 1080px;
}

.nav-link,
.nav-link:hover {
    color: rgb(37, 37, 37);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #dc3545;
}

.carousel-control-next-icon {
    z-index: 9999999;
}

.f-mine {
    /* background-color: #ffc400; */
    outline: none;
    border: none;
}

#contact {
    /* background-color: #ffba25; */
    background-image: url("https://wd.imgix.net/image/admin/K1IN7zWIjFLjZzJ4Us3J.jpg?auto=format");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(120deg,
            #ffda55,
            #f5b500); */
    background-attachment: fixed;
}


.flex-direction-column{
    flex-direction: column;
}


.prev:hover {
    background-image: linear-gradient(90deg,
            rgba(255, 248, 225, 0.438),
            transparent);
}

.next:hover {
    background-image: linear-gradient(270deg,
            rgba(255, 248, 225, 0.438),
            transparent);
}


input.sign-form, input.log-form {
    box-shadow: none;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid #c90000;
}

input.sign-form:focus, input.log-form:focus{
   box-shadow: none;
   background: transparent;
    border-bottom: 1px solid #c90000;
}


input.contact-form, textarea.contact-form {
    box-shadow: none;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid #c90000;
}

input.contact-form:focus, textarea.contact-form:focus{
    box-shadow: none;
        background: transparent;
        border-bottom: 1px solid #c90000;
}


.form {
    border: none;
}


.event-card {
    outline: none;
    border: none;
    padding: 0;
    box-shadow: none;
    text-align: center;


}

a {
    color: #EBA002;
}



.my-a {
    text-decoration: none;
    transition: 0.3s;
}

.my-a:hover {
    color: #EBA002;
    text-decoration: underline;
}

.py-10 {
    padding: 7.3rem 0rem;
}

.front {
    z-index: 10000;
}

.bg-mine {
    /* background-color: transparent; */
    /* background-color: rgb(168, 32, 32); */
    border: 2px solid rgb(255, 174, 0);
    padding: 0px 10px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171); */
}





.modal-bg-mine {
    width: 80%;
}





.gold-bg {
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    /* background-image: linear-gradient(339deg, rgb(235, 229, 30), #cacd00, #edff00, rgb(202 205 35), rgb(251 255 0)); */
}

.lux-card {
    transition: 0.3s;
}

.lux-card:hover {
    transform: translateY(-10px);
}

.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

#hero {}


.my-modal {
    --bs-modal-width: 500px;
}


.book-modal {
    --bs-modal-width: 800px;
}

.checked {
    color: #ff8720;
}




input[type=number]::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
}


.bg-danger-light {
    background-color: #fff6ed;
    /* background-image: url('./images/pattern-modal.jpg'); */
}

.modal-header {
    border: none;
}


.mt--5 {
    margin-top: -50px;
}





.pattern-bg {
    background-image: url('./images/pattern-modal.jpg');
}


.event2{
    display: none;
}
.event3{
    display: none;
}



















































@media screen and (max-width:990px) {


    .event1{display: none;}
    .event2{display: block;}
    /* .res-hero{
            background: #ffffff47;
                padding: 40px;
                border-radius: 10px;
                backdrop-filter: blur(17px);
    } */


    
    .res-font {
        text-shadow: 1px 1px 10px #ffffff87;
    }

    .hero-bg {
        background-image: url('./images/herobg.jpg');
        background-attachment: fixed;
    }

    .res-img {
        display: none;
    }

    .heading {
        font-size: 3rem;
    }

    .py-10 {
        padding: 5.3rem 0rem;
    }
}



@media screen and (max-width:766px) {
    .event2{
        display: none;
    }
    .event3{
        display: block;
    }
}

@media screen and (max-width:400px) {
    .modal-bg-mine {
        width: 94%;
    }

    .bb-des {
        display: none;
    }
    footer{
        flex-direction: column;
    }
}


@media screen and (max-width:1024px) {
    .nav {
        backdrop-filter: none;
    }


}


@media screen and (max-width:1398px) {
    .res-dis {
        flex-direction: column;
        padding: 0px;
    }

    .btn-cart {
        margin-bottom: 10px;
    }
}
